.tarjetas {
  div {
    margin: 1rem 0;

    img {
      width: 100%;
      border: solid 0.5px grey;
      box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px;
    }

    h2 {
      text-transform: uppercase;
      color: white;
      padding: 0.25rem 0;
      margin: 0.5rem 0;
      background-color: black;
      border: solid 0.5px grey;
      box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px;
    }
  }
}
